.mlh-banner {
  position: absolute;
  top: 56px;
  right: 20px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
}

.inspiration {
  margin-bottom: 1.5em;
}

.inspiration img {
  margin-bottom: -1em;
  width: 6em;
}

.inspiration div {
  margin-bottom: 1.5em;
}

#collab-text:before {
  content: "Collaborate";
}
#location-text:before {
  content: "Location";
}

@media only screen and (max-width:550px) {
  #collab-text:before {
    content: "Collab.";
  }
  #location-text:before {
    content: "Loc.";
  }
}

#schedule-info {
  font-size: 16px;
  margin-top: 1em;
}
#schedule-info .row {
/*  border-bottom: 1px solid #464646;*/
  margin-bottom: 0.5em;
}
.schedule-line {
  border-bottom: 2px solid #7E519C;
  margin-bottom: 1em;
}
.schedule-line h1 {
  font-size: 30px;
}
.schedule-sunday {
  margin-top: 2em;
}

.person-wrapper {
/*  border: 1px solid #fff;*/
  margin:0 auto;
  padding: 0 0 10px 0;
}

.person { 
  width: 104px;
  height: 104px;
  margin: 0 auto;
  
}

.person img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-left: 0;
}

#sponsor-logos {
  margin-top: 2em;
}
.sponsor-tenable {
  width: 300px;
  height: auto;
}
.sponsor-clearedge {
  width: 300px;
}
.sponsor-nsa {
  width: 300px;
  height: 200px;
}
.sponsor-mccormick {
  width: 150px;
}
.sponsor-towersec {
  width: 250px;
  padding: 1em;
}
.sponsor-ng {
  margin-top: 2em;
  width: 350px;
  max-width: 100%;
  height: auto;
}
.bronze-sponsors {
  margin-top: 2em;
}
.sponsor-paypal {
  width: 200px;
  margin-top: 1em;
}
.sponsor-venture-storm {
  width:125px;
  margin:10px 0px;
}
.sponsor-nc {
  width: 80px;
}
.sponsor-soylent {
  width: 100px;
  margin-top: 1em;
}
.sponsor-google-square {
  margin-top: 0em;
}
.sponsor-google {
  width:150px;
  padding-right: 1em;
}
.sponsor-square {
  width: 150px;
  padding-left: 1em;
}
.partner-csee {
  width: 150px;
  margin-bottom: 2em;
}
.partner-abc4e {
  margin-top: 2em;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* Small Screen size (sm in bootstrap) */
@media(min-width:768px) {
  .mlh-banner {
    top: 90px;
    right: 50px;
    width: 8%;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
  }
  .sponsor-tenable {
    width: auto;
  }
  .sponsor-clearedge {
    margin-top: 2.2em;
  }
  .sponsor-ng {
    max-width: 110%;
  }
  .sponsor-paypal {
    padding: 0em 1em;
  }
  .sponsor-venture-storm {
    margin: 0px;
  }
  .sponsor-google-square {
    margin-top: 3em;
  }
  .sponsor-google {
    padding-right: 0em;
  }
  .sponsor-square {
    padding-left: 0em;
  }
}

/* Medium Screen size (md in bootstrap) */
@media(min-width:992px) {
  .sponsor-clearedge {
    margin-top: 2.5em;
  }
  .sponsor-ng {
    max-width: 100%;
  }
  .sponsor-paypal {
    padding: 0em;
  }
}

/* Large Screen size (lg in bootstrap) */
@media(min-width:1200px) {
  .sponsor-clearedge {
    margin-top: 3em;
    width: 350px;
  }
  .sponsor-nsa {
    height: auto;
  }
}