.mlh-banner {
  position: absolute;
  top: 56px;
  right: 20px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
}

.inspiration {
  margin-bottom: 1.5em;
}

.inspiration img {
  margin-bottom: -1em;
  width: 6em;
}

.inspiration div {
  margin-bottom: 1.5em;
}

#collab-text:before {
  content: "Collaborate";
}

@media only screen and (max-width:550px) {
  #collab-text:before {
    content: "Collab.";
  }
}

.person-wrapper {
/*  border: 1px solid #fff;*/
  margin:0 auto;
  padding: 0 0 10px 0;
}

.person { 
  width: 104px;
  height: 104px;
  margin: 0 auto;
  
}

.person img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-left: 0;
}

.sponsor-tenable {
  width: 300px;
  height: auto;
}
.sponsor-clearedge {
  width: 300px;
}
.sponsor-nsa {
  width: 300px;
  height: 200px;
}

/* Small Screen size (sm in bootstrap) */
@media(min-width:768px) {
  .mlh-banner {
    top: 90px;
    right: 50px;
    width: 8%;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
  }
  .sponsor-tenable {
    width: auto;
  }
  .sponsor-clearedge {
    margin-top: 1.8em;
  }
}

/* Medium Screen size (md in bootstrap) */
@media(min-width:992px) {
  .sponsor-clearedge {
    margin-top: 2.2em;
  }
}

/* Large Screen size (lg in bootstrap) */
@media(min-width:1200px) {
  .sponsor-clearedge {
    margin-top: 2.5em;
    width: 350px;
  }
  .sponsor-nsa {
    height:auto;
  }
}