.mlh-banner {
  position: absolute;
  top: 56px;
  right: 20px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
}

@media(min-width:768px) {
  .mlh-banner {
    top: 90px;
    right: 50px;
    width: 8%;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
  }
}

.inspiration {
  margin-bottom: 1.5em;
}

.inspiration img {
  margin-bottom: -1em;
  width: 6em;
}

.inspiration div {
  margin-bottom: 1.5em;
}

#collab-text:before {
  content: "Collaborate";
}

@media only screen and (max-width:550px) {
  #collab-text:before {
    content: "Collab.";
  }
}

.person-wrapper {
/*  border: 1px solid #fff;*/
  margin:0 auto;
  padding: 0 0 10px 0;
}

.person { 
  width: 104px;
  height: 104px;
  margin: 0 auto;
  
}

.person img {
  object-fit: cover;
  width:100%;
  height:auto;
  margin-left: 0;
}