/*
Colors light to dark:
#8C99C4
#8574B0
#7E519C
#76317C
#46184B

linear-gradient(135deg,
#f7fcfd,
#e0ecf4,
#bfd3e6,
#9ebcda,
#8c96c6,
#8c6bb1,
#88419d,
#810f7c,
#4d004b);

Offwhite:
#F0F0F0

Old Black: #171717
New Black: #0d0218
*/

.intro-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#intro-content {
  margin-top: -5em;
  padding-bottom: 7em;
}

.banner-padding {
  padding-top: 57px;
}

/* Trying to make the intro background a gradient
   for when the triangles don't load */
/*
#intro {
  background: linear-gradient(transparent 66.6%, #0d0218),
    linear-gradient(135deg,#e0ecf4,#bfd3e6,#9ebcda,#8c96c6,#8c6bb1,#88419d,#810f7c);
}
*/

/* Banner if triangles don't show up */
.banner {  
  background: linear-gradient(135deg,#bfd3e6,#9ebcda,#8c96c6,#8c6bb1,#88419d);
}

.banner-background {
  position: absolute;
  left: 0;
}

.banner-text {
  font-size:40px;
  padding-top:1em;
}

.about-content {
  z-index: 2;
  /* The background of the website is this color, but the triangles are on top
     of the background. To make a straight edge on the triangles, this color is
      set on top of the triangles */
  background: #0d0218;
}

.faq-content {
  padding-top:6em;
}

#nav-brand {
  margin-top: -4px;
}

#nav-logo {
  width: 2em;
  height: auto;
}

.card {
  padding-bottom: 3em;
}

.card-title {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: bold;
}

.card-body {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
}

.logo-cover {
  margin-bottom: -3em;
  width: 10em;/* 20em */
  height: auto;
}

.social {
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.inline {
  display:inline;
}

.btn-cover-div {
    padding: 0 1em;
}

.btn-cover,
.btn-cover:focus {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn-cover:hover {
  border: 1px solid #fff;
  outline: 0;
  color: #7E519C;
  background-color: #fff;
}

#learn {
  content: url('../img/icons/WhiteLearn.svg');
}
#collaborate {
  content: url('../img/icons/WhiteCollaborate.svg');
}
#create {
  content: url('../img/icons/WhiteCreate.svg');
}
#share {
  content: url('../img/icons/WhiteShare.svg');
}

.fa-bars {
  color: #fff;
}

@media(min-width:768px) {
  #nav-brand {
    margin-top: -7px;
  }
  .logo-cover {
    width: 15em;
  }
  #intro-content {
    margin-top: -15em;
    padding-bottom: 0;
  }
  .banner-padding {
    padding-top: 54px;
  }
}

#sponsor-logos div.row div,
#partner-logos div.row div {
/*  background-color: #fff;*/
}

#soylent {
  content: url("../img/sponsor/soylent-white.svg");
}
#square {
  content: url("../img/sponsor/square-white.svg");
}